<p>Bogdan Trifonov</p>
<p>&nbsp;</p>
<p>Date of birth: 14&nbsp; June 1989</p>
<p>Marital status:&nbsp; bachelor</p>
<p>Profession: Programmer.</p>
<p>&nbsp;</p>
<p><u>Education: </u></p>
<p>2005 &ndash; 2010 &ndash; Volodymyr Dahl East Ukrainian National University<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p><u>&nbsp;</u></p>
<p><u>Work experience:</u>&nbsp; more then <strong><em>8 years</em></strong></p>
<p><strong><em>&nbsp;</em></strong></p>
<p><strong><em>&nbsp;</em></strong></p>
<p><u>Wonderkid Studio/Freelance</u> &nbsp; 2010- now</p>
<p>Position: Web programmer</p>
<p>Responcibility:&nbsp;&nbsp;&nbsp;PHP and JS programming</p>
<p>Last project: <a href="http://siftlynow.com">http://siftlynow.com</a> (job searching/freelancers finding site)</p>
<p>&nbsp;</p>
<p><strong><em><u>&nbsp;</u></em></strong></p>
<p><u>RBK Software</u>&nbsp;&nbsp; February 2008 - March 2010</p>
<p>Position: Web programmer</p>
<p>Responcibility:&nbsp;&nbsp;&nbsp;PHP and JS programming</p>
<p><u>&nbsp;</u></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><u>Other skills:</u>:</p>
<p>Computer languages:&nbsp; <br /> - PHP (Symfony, Laravel, YII, Kohana, WordPress), <br /> - HTML 4/5, CSS 2/3, <br /> - JavaScript (Angular, Vue), <br /> - Node.js, <br /> - MySql, MongoDB, DynamoDB</p>